---
import Layout from '../layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Principal from '@/sections/Principal.astro';
import Info from '@/sections/Info.astro';
import Down from  '@/sections/Down.astro';
---

<Layout title="CloudPoint">
	<main class="">
		<Hero/>
	</main>

	<main class="mt-8">
		<Principal/>
	</main>

	<article class="">
	<Info/>
	</article>

	<section class="mt-10">
		<Down/>
	</section>
</Layout>


<style>
	
</style>
