

<div class=" bottom-[160px]  lg:bottom-[100px] md:bottom-[100px] flex justify-center items-center">
    <button class="w-auto  h-4 md:h-auto lg:h-auto rounded-md bg-cyan-600 text-white flex justify-center items-center">
        <a class="text-xs px-2 py-2 font-semibold md:text-xl lg:text-xl" href="#descubre">DESCUBRE CÓMO</a>
    </button>
</div>
