---

---
<nav class="bg-white mx-3 rounded-md mt-1 lg:mt-5 md:mt-5 shadow-lg fixed w-[calc(100%-24px)] h-8 lg:h-14 md:h-14 pt-2 z-50">
    <div class="container mx-3 flex flex-row justify-between items-center h-full">
        <div class="flex items-center">
            <picture class="flex">
                <img src="/imgs/logo.png" alt="" class="w-24 mb-2 md:mb-0 pb-0 sm:w-40 lg:w-40 md:w-40 sm:mr-[560px] lg:mr-[560px] md:mr-[560px]">
            </picture>
        </div>

        <!-- Botón para menú móvil -->
        <div class="flex xl:hidden">
            <button id="mobile-menu-button" class="text-gray-800 focus:outline-none  mr-5 lg:mr-5 md:mr-5">
                <img class="mb-2" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg7.svg" alt="menu">
            </button>
        </div>

        <!-- Menú móvil -->
        <div id="mobile-menu" class="hidden flex-col absolute top-14 left-0 w-full bg-white shadow-md">
            <a href="/" class="block px-4 py-2 text-teal-800">Inicio</a>
            <a href="#" class="block px-4 py-2 text-teal-800">Productos</a>
            <a href="#" class="block px-4 py-2 text-teal-800">Clientes</a>
            <a href="#" class="block px-4 py-2 text-teal-800">Escenarios</a>
            <a href="#" class="block px-4 py-2 text-teal-800">Soporte</a>
            <a href="#" class="block px-4 py-2 text-teal-800">Compañia</a>
        </div>

        <!-- Enlaces de escritorio -->
        <div class="hidden xl:flex font-semibold text-base mr-4">
            <a href="/" class="md:px-2 md:py-2 active-link">Inicio</a>
            <a href="#" class="text-teal-800 md:px-2 md:py-2">Productos</a>
            <a href="#" class="text-teal-800 md:px-2 md:py-2">Clientes</a>
            <a href="#" class="text-teal-800 md:px-2 md:py-2">Escenarios</a>
            <a href="#" class="text-teal-800 md:px-2 md:py-2">Soporte</a>
            <a href="#" class="text-teal-800 md:px-2 md:py-2">Compañia</a>
        </div>
    </div>
</nav>





