---

---

<section class="flex px-12 md:px-32 gap-y-10 flex-col">
    <!-- mobile first luego pc -->
    <div class="grid text-center gap-x-2 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1fr]">
        
        <!-- Primera columna con borde derecho -->
        <article class="md:flex-grow order-1 md:order-none flex flex-col text-xl my-3 md:border-r md: border-neutral-300 pr-5 md:pr-10">
            <h1 class="md:text-4xl font-semibold text-2xl text-left">Cliente Cero V1</h1>
            <p class="italic text-neutral-500 text-sm md:text-lg text-left">Dispositivo de Hardware de vCloudPoint</p>
            <img src="imgs/cliente-cero.png" alt="" class="pr-3 py-3">
            <p class="text-neutral-500 text-left text-base pr-14">El Cliente Cero de vCloudPoint no contiene partes móviles y centraliza todo el procesamiento y almacenamiento en una computadora central. Como resultado, no requiere instalación de controladores, administración de parches ni licencias o cuotas de sistemas operativos locales. Este dispositivo consume muy poca energía, es resistente a la manipulación, y es incapaz de almacenar ninguna información de manera local, proveyendo una terminal más segura.</p>
        </article>

        <!-- Segunda columna -->
        <article class="order-2 md:order-none flex flex-col text-xl my-3 pl-5 md:pl-10">
            <h1 class="md:text-4xl font-semibold text-2xl text-left md:text-right  mr-1 md:mr-0 ">vMatrix Server Manager</h1>
            <p class="italic text-neutral-500 text-sm md:text-lg text-right">Software de administración de vCloudPoint</p>
            <img src="imgs/vMatrix.png" alt="" class="pl-1 py-3">
            <p class="text-neutral-500 text-left text-base md:pl-2 md:pr-14">El software vMatrix Server Manager, ejecutado en el servidor, mejora la funcionalidad y usabilidad general del sistema compartido, ofreciendo intermediación de conexión, aceleración gráfica, redireccionamiento de audio y USB, y administración centralizada. Los administradores de IT pueden configurar, monitorear y gestionar los terminales y usuarios con simplicidad del lado del servidor a través de una consola frontal.</p>
        </article>

    </div>
</section>


