<section class="relative flex justify-center items-center">
    <div class=" flex flex-col w-full max-w-3xl">

        <h1 class="text-left  px-12  md:px-0 lg:px-0  md:text-center lg-text-center text-3xl lg:text-5xl md:text-5xl font-semibold mb-5">¿Qué es vCloudPoint?</h1>

        <p class="block text-lg  px-12  text-neutral-500  text-left lg:text-center md:text-center">
            Es una red de terminales que permite a múltiples usuarios el aprovechamiento efectivo y simultáneo de los recursos no explotados de una PC.
        </p>
    </div>


</section>


<div class="  my-5  flex justify-center items-center ">

    <picture class="p-3">
        <img src="imgs/video.png" alt="" class="w-[500px] lg:w-[1000px] md:w-[1000px] shadow-md" id="descubre" >
    </picture>

</div>